<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[睡]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[冷汗]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
	</dict>
</array>
</plist>
